/* Static content styles */

/* Campaign Manager email form Iframe */
/* - https://oag.parliament.nz/contact-us/email-subs */
#emailsubs {
    height: 28em;
    iframe {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 0 none transparent;
        padding: 0;
    }
}

/* 2021 Housing report */
/*  - https://oag.parliament.nz/2021/housing/roles-and-responsibilities */
#housingroles {
    position: relative;
    padding-bottom: 118.8889%;
    padding-top: 1px;
    height: 0;
    overflow: hidden;
    clear: both;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 0px none transparent;
        padding: 0px;
    }
}

/* Our work by region */
/* - https://oag.parliament.nz/reports/region */
#ar93 { // aspect ratio 0.9278 x:2010 y:1865
    position: relative;
    padding-top: 1px;
    padding-bottom: 100%; // aspect ratio + 2% gets rid of iframe scroll bar
    vertical-align: middle;
    overflow: hidden;
    height: 0;
    clear: both;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 0 none transparent;
        padding: 0;
    }
}

/* Schools audit map */
/* - https://oag.parliament.nz/data/schools/index.htm */
#schoolsauditmap-p {
    margin-top: -4rem;
}

#schoolsauditmap-div {
    min-height: 1100px;
}

#schoolsauditmap-iframe {
    position: absolute;
    top: 15rem;
    left: 0;
    border: 0 none transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: -7rem;
}

.mce-content-body {
    #schoolsauditmap-p {
        margin-top: 0;
    }
    #schoolsauditmap-iframe {
        position: static;
        margin-top: 0;
    }
}

@media (max-width: 360px) {
    #schoolsauditmap-iframe {
        top: 25rem;
    }
}
